<div class="max-w-sm my-20 mx-auto px-4">
  <form #registerForm="ngForm" ngNativeValidate (submit)="onSubmit()">
    <p class="text-center font-bold text-2xl">Register</p>
    <div class="my-6 flex items-center justify-center flex-col gap-4">
      <input
        #email="ngModel"
        [(ngModel)]="registerData.email"
        type="email"
        name="email"
        placeholder="example@example.com"
        required
        class="px-2 w-full py-2 border rounded-md"
      />
      <input
        #username="ngModel"
        [(ngModel)]="registerData.username"
        type="text"
        name="username"
        placeholder="John Doe"
        required
        class="px-2 w-full py-2 border rounded-md"
      />
      <ngx-datepicker
        #dateOfBirth="ngModel"
        [(ngModel)]="registerData.dateOfBirth"
        name="dateOfBirth"
        id="dateOfBirth"
        required
        class="px-2 w-full py-2 focus:outline-none border rounded-md"
        [options]="datepickerOption"
      ></ngx-datepicker>
      <input
        #password="ngModel"
        [(ngModel)]="registerData.password"
        class="px-2 w-full py-2 border rounded-md"
        type="password"
        name="password"
        placeholder="********"
        required
      />
    </div>
    <p
      class="mt-2 mb-4 font-bold text-sm text-red-500"
      *ngIf="authService.errors"
    >
      {{ authService.errors.message }}
    </p>
    <button
      [disabled]="
        !(
          registerData.dateOfBirth &&
          registerData.email &&
          registerData.password &&
          registerData.username
        )
      "
      type="submit"
      class="block mx-auto py-1 rounded-md bg-blue-500 text-white w-full"
    >
      Register
    </button>
  </form>
</div>
