<div class="max-w-sm my-20 mx-auto px-4">
  <form #registerForm="ngForm" ngNativeValidate (submit)="onSubmit()">
    <p class="text-center font-bold text-2xl">Register</p>
    <div class="flex my-4 p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg" role="alert">
      <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">Ensure that these requirements are met:</span>
          <ul class="mt-1.5 ml-4 text-blue-700 list-disc list-inside">
            <li>All fields are required</li>
        </ul>
      </div>
    </div>
    <div class="my-6 flex items-center justify-center flex-col gap-4">
      <input
        #email="ngModel"
        [(ngModel)]="registerData.email"
        type="email"
        name="email"
        placeholder="example@example.com"
        required
        class="px-2 w-full py-2 border rounded-md"
      />
      <input
        #username="ngModel"
        [(ngModel)]="registerData.username"
        type="text"
        name="username"
        placeholder="John Doe"
        required
        class="px-2 w-full py-2 border rounded-md"
      />
      <ngx-datepicker
        #dateOfBirth="ngModel"
        [(ngModel)]="registerData.dateOfBirth"
        name="dateOfBirth"
        id="dateOfBirth"
        required
        class="px-2 w-full py-2 focus:outline-none border rounded-md"
        [options]="datepickerOption"
      ></ngx-datepicker>
      <input
        #password="ngModel"
        [(ngModel)]="registerData.password"
        class="px-2 w-full py-2 border rounded-md"
        type="password"
        name="password"
        placeholder="********"
        required
      />
    </div>
    <p
      class="mt-2 mb-4 font-bold text-sm text-red-500"
      *ngIf="authService.errors"
    >
      {{ authService.errors.message }}
    </p>
    <button
      [disabled]="
        !(
          registerData.dateOfBirth &&
          registerData.email &&
          registerData.password &&
          registerData.username
        )
      "
      type="submit"
      class="block mx-auto py-1 rounded-md bg-blue-500 text-white w-full"
    >
      Register
    </button>
  </form>
</div>
