<div class="container mx-auto my-10">
  <p class="my-4 font-bold text-4xl">Film App</p>
  <div class="my-6">
    <p>Frontend Build with angular</p>
    <ul class="list-disc ml-8">
      <li>User can view films</li>
      <li>Logged in User can create films and post comments</li>
      <li>User can register</li>
      <li>User can logged in</li>
    </ul>
  </div>

  <div class="my-6">
    <p>Backend Build with nestjs</p>
    <ul class="list-disc ml-8">
      <li>Using mongoDb for database</li>
      <li>Using typescript</li>
      <li>Backend also have api documentation with swagger</li>
      <li>Using jwt for auth</li>
      <li>Seeder script is in package.json</li>
    </ul>
  </div>

  <a class="underline" routerLink="/films">All Films</a>
</div>
